In [1]:
import pandas as pd
from kafka import KafkaProducer, KafkaConsumer
from time import sleep
from json import dumps
import json

In [2]:
from json import dumps,loads
import json

In [8]:
consumer = KafkaConsumer(
    'kafka-topic',
     bootstrap_servers=['3.145.152.120:9092'],
    value_deserializer=lambda x: loads(x.decode('utf-8')))

In [ ]:
import pandas as pd
from datetime import datetime

today=str(datetime.now().date())
for count, body in enumerate(consumer):
    data = body.value["payload"]
    df = pd.DataFrame(data)
    df['lux'] = df['values'].apply(lambda x: x['lux'])
    df['time'] = df['time'].apply(lambda x: datetime.fromtimestamp(x / 10**9).strftime('%d/%m/%y %H:%M:%S'))
    df.drop(columns=['values','name','accuracy'], inplace=True)
    print(df)
    bucket_name = 'temp-buck007'
    csv_content = df.to_csv(index=False)
    with s3.open(f'{bucket_name}/data_{today}/file_{count+1}.csv', 'w') as f:
        f.write(csv_content)

In [87]:
data = [{'name': 'light', 'values': {'lux': 21}, 'accuracy': 3, 'time': 1718222132091171300}, {'name': 'light', 'values': {'lux': 22}, 'accuracy': 3, 'time': 1718222132291169300}, {'name': 'light', 'values': {'lux': 22}, 'accuracy': 3, 'time': 1718222132491167000}, {'name': 'light', 'values': {'lux': 22}, 'accuracy': 3, 'time': 1718222132691165200}, {'name': 'light', 'values': {'lux': 22}, 'accuracy': 3, 'time': 1718222132891178500}, {'name': 'light', 'values': {'lux': 21}, 'accuracy': 3, 'time': 1718222133091165400}, {'name': 'light', 'values': {'lux': 20}, 'accuracy': 3, 'time': 1718222133291164200}]

df = pd.DataFrame(data)
df['lux'] = df['values'].apply(lambda x: x['lux'])
df['time_format'] = df['time'].apply(lambda x: datetime.fromtimestamp(x / 10**9).strftime('%d/%m/%y %H:%M:%S'))
df.drop(columns=['values','name','accuracy'], inplace=True)

In [90]:
df

                  time  lux        time_format
0  1718222132091171300   21  12/06/24 15:55:32
1  1718222132291169300   22  12/06/24 15:55:32
2  1718222132491167000   22  12/06/24 15:55:32
3  1718222132691165200   22  12/06/24 15:55:32
4  1718222132891178500   22  12/06/24 15:55:32
5  1718222133091165400   21  12/06/24 15:55:33
6  1718222133291164200   20  12/06/24 15:55:33

In [91]:
from s3fs import S3FileSystem

In [92]:
s3 = S3FileSystem()

In [95]:
bucket_name = 'temp-buck007'
file_key = 'data/file_1.csv' 

csv_content = df.to_csv(index=False)

with s3.open(f'{bucket_name}/{file_key}', 'w') as f:
    f.write(csv_content)